.Preloader {
    position: fixed;
    bottom: 5%;
    left: 3%;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-shadow: 0px 0px 10px #ffffff, 0px 0px 20px #ffffff;
    animation: merchanie 2s ease 0s infinite;
    -webkit-animation: merchanie 2s ease 0s infinite;
}

.WaitingMessage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.WarningIcon {
    position: relative;
    width: 35px;
    height: 30px;
}

.warningSpan {
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin: 2px;
    z-index: 2;
    left: 5%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: 0px 0px 10px #ffffff;
}

.t1 {
    transform-origin: 100%;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    bottom: 2%;
}

.t2 {
    transform-origin: 0%;
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    bottom: 2%;
}

.t3 {
    bottom: 2%;
}

.Exclamation {
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.LoadingSpan span {
    font-size: 26px;
    text-shadow: 0px 0px 10px #ffffff, 0px 0px 5px #ffffff;
}

.LoadingSpan span:nth-child(1) {
    animation: merchanie 1s ease 1s infinite;
    -webkit-animation: merchanie 1s ease 1s infinite;
}

.LoadingSpan span:nth-child(2) {
    animation: merchanie 1s ease 1.2s infinite;
    -webkit-animation: merchanie 1s ease 1.2s infinite;
}

.LoadingSpan span:nth-child(3) {
    animation: merchanie 1s ease 1.3s infinite;
    -webkit-animation: merchanie 1s ease 1.3s infinite;
}

@keyframes merchanie {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        color: #616161;
        text-shadow: 0px 0px 10px #616161, 0px 0px 20px #616161;
    }

    70% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}