.Header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: #404040;
    box-shadow: 0px 0px 10px #00000090;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}

.search {
    background-color: #ffffff;
    width: 280px;
    height: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.img {
    margin-left: 7px;
}

input {
    border: none;
    margin-left: 20px;
    outline: none;
    font-size: 18px;
    color: #000000b7;
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
}


input::placeholder {
    font-size: 18px;
    font-weight: 300;
    color: #00000067
}

.buttons {
    width: 400px;
}

.button {
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -ms-transition: 0.1s all;
    -o-transition: 0.1s all;
}

.button:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.users {
    max-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.users img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}

.users_name {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 10px 0px 0px;
}

.version {
    color: #fff;
    margin-left: 5px;
    font-size: 11px;
}

.Privilege {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
}

.Status {
    font-size: 12px;
    color: #00ff00;
    text-shadow: 0px 0px 15px #00ff00;
}

.ExtraStatus {
    font-size: 12px;
    color: #ff0000;
    text-shadow: 0px 0px 10px #ff0000;
}