.block {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    padding: 40px 0px;
    background-color: #404040;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    border: none;
    background-color: #1d1d1d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.SingInLink {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}